@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;1,300;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Comic Neue", cursive;
  box-sizing: border-box;
  user-select: none;
}

body {
  margin-left: auto;
  margin-right: auto;

  width: 60rem;
  /*  background: url(titre2.gif) no-repeat ; */

  transform: translateY(0px);
  height: 850px;
  overflow-x: none;
  overflow-y: hidden;
  position: fixed;
  left: 283px;

  top: 0px;
}

main {
  margin-top: 2rem;
  /* background: rgba(255, 255, 255, 0.466); */
  border-radius: 10px;
  position: relative;
  transform: translateY(-112px);
}
/* -----------------------------ELEMENTS-----------------> */

p {
  margin-left: 100px;
  margin-right: 100px;
  animation: trans 0.5s ease-in-out;
  color: rgb(143, 92, 121);
}

h1 {
  text-align: center;

  font-size: 40px;
  color: rgba(255, 99, 125, 0.733);
}

h2 {
  margin-left: 50px;
  padding: 30px;
  color: rgba(255, 99, 125, 0.623);
  letter-spacing: 3px;
  animation: trans 0.3s ease-out;
}

ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  margin: 10px;
}

li {
  padding: 3px;
}

/* //-----------------------TITRE------------------> */

header {
  z-index: -2;

  position: relative;
  transform: translateY(-113px);
}

.title {
  font: size 40px;
  animation: apparition 1s ease-out;
}

.title2 {
  font-size: 40px;

  margin-left: 195px;
  animation: apparition2 1s ease-out;
  color: rgb(143, 92, 121);
}

/* ----------------------------------IMAGE-------------------->/*  */

.papillon {
  background: url(papillon2.png) no-repeat center;
  height: 167px;
  background-position: top;
  position: relative;

  top: 5rem;
  left: 3rem;
  z-index: -1;
  animation: envol 1s ease-in-out forwards;
  animation-delay: 0.3s;
  opacity: 0;
  transform: translateZ(0px);
}

.image {
  background: url(enfants1.png) center/contain no-repeat;
  height: 20rem;
}

.image1 {
  background: url(parents1.png) center/contain no-repeat;
  position: relative;
  height: 20rem;
  width: 250px;
  top: 33px;
  left: 75px;
  transition: 2s;
}

/* -----------------------------------EFFETS KEYFRAMES Titres-------------> */

@keyframes apparition {
  from {
    opacity: 1;
    transform: translateY(-20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes apparition2 {
  from {
    opacity: 0;
    transform: translateY(30px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes envol {
  from {
    opacity: 0;
    transform: translateY(100px) translateX(-50px);
  }

  to {
    opacity: 1;
    transform: translateY(0) translateY(0);
  }
}

/* -----------------------NAVIGATION---------------> */
#chercher {
  padding: auto;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: rgb(143, 92, 121);
  cursor: pointer;
}

nav {
  background: rgba(255, 99, 125, 0.733);
  border-radius: 10px;
  color: white;
  height: 1.5rem;
  box-shadow: 12px -1px 20px white;
  text-transform: uppercase;
  transform: translateY(-20px);
}

/*  -------------------------MAin---------------------> */

.fixed {
  margin: 0px;
  margin-top: 20px;
  border: solid 5px rgba(255, 99, 125, 0.473);

  border-radius: 10px;
  padding: 30px;
  background-color: rgba(255, 255, 255, 0.678);
  transform: translateY(-25px);
  size-adjust: fixed;
  max-height: 536.6px;
  height: 466.6px;

  /* height: 511px;
    width: 713px;
    position: relative;
    top: 10px;
    left: 91px; */
}

.textes {
  position: relative;
  top: -250px;
  transform: translateX(395px);

  width: 532px;
  top: -365px;
  color: rgb(143, 92, 121);
}

#upper {
  font-size: 1.5rem;
  color: rgb(143, 92, 121);
  text-transform: capitalize;
  font-family: "Comic Neue", cursive;
}

.gp {
  transform: translateX(0);
  transform: translateY(0);
}

#presentation {
  margin-top: 1px;
  transform: translateY(200px);
  transform: translateX(20px);
  color: rgb(143, 92, 121);
  font-weight: bold;
  height: 333px;
  position: relative;
}

.parcours {
  display: contents;

  position: relative;
  top: -250px;
  transform: translateX(280px);
  width: 250px;
  width: 532px;
  top: -323px;
  color: rgb(143, 92, 121);
  list-style: disc rgb(143, 92, 121);
  margin-top: 1px;
  transform: translateY(200px);
  transform: translateX(20px);
  color: rgb(143, 92, 121);
  font-weight: bold;
}

/* -------------------------------Keyframes----------------------------> */
@keyframes trans {
  from {
    opacity: 0;
    transform: translateX(-30px);
  }

  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

/* ------------------Masque autre fenetres ---------------> */

#service1 {
  display: none;
}

#service2 {
  display: none;
}

#service3 {
  display: none;
}

#service4 {
  display: none;
}

#service5 {
  display: none;
}

.active {
  display: contents;
}

#contactb {
  display: none;
}
/* ---------------------FORMULAIRE--------------------> */
.bt {
  position: relative;
  top: 20px;
  left: 20px;
}

.enveloppe {
  background: url(mail1.png) center/cover no-repeat rgba(255, 99, 125, 0.473);
  height: 90px;
  width: 90px;
  margin: 0;
  border-radius: 150px;
  position: relative;
  top: 33px;
  left: 336px;
}

.mail {
  font-size: 2rem;
}

/* ---------------------------------------------------POP-UP----------------> */

#popUp {
  border: solid 3.5px rgba(255, 99, 125, 0.473);
  border-radius: 10px;
  position: relative;
  top: -403px;
  left: -302px;
  height: 411px;
  width: 359px;
  background: rgb(255, 255, 255);
  box-shadow: 2px 2px 6px rgba(151, 97, 106, 0.747);
  color: rgb(143, 92, 121);
  display: none;
}

#s1 {
  color: rgb(143, 92, 121);
  font-family: "Comic Neue", cursive;
  position: relative;
}

#s1:hover {
  cursor: pointer;
  color: rgba(255, 99, 125, 0.473);
}

.menu {
  position: relative;
  top: -474px;
  left: 0px;
}

.prep {
  position: relative;
  animation: trans 0.5s ease-in-out;

  left: 100px;
}

.overlay {
  top: 13px;
  bottom: -1px;
  left: -466px;
  right: 0px;
  transition: opacity 500ms;
  animation: trans 1s ease-in;
  background: rgba(250, 125, 146, 0.438);
  filter: blur(0px);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
  border-radius: 10px;
  height: 480px;
  width: 611px;
  transform: translateX(0px);
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  background: #fff;
  border-radius: 10px;
  animation: trans 0.2s ease-in-out;

  border-radius: 10px;
  position: relative;
  top: 18px;
  left: 34px;
  height: 438px;

  width: 532px;
  background: rgb(255, 255, 255);
  box-shadow: rgba(190, 127, 137, 0.75) 1px -2px 17px;
  color: rgb(143, 92, 121);
  display: flex;
  justify-content: center;
}

.popup h2 {
  margin-left: 50px;
  padding: 30px;
  color: rgba(255, 99, 125, 0.623);
  letter-spacing: 3px;
  animation: trans 0.5s ease-in-out;
  font-size: 0.9rem;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06d85f;
}
.popup .content {
  max-height: 30%;
  overflow: none;
}
@media screen and (max-width: 700px) {
  .box {
    width: 70%;
  }
  .popup {
    width: 70%;
  }
}

#popup1 {
  position: relative;
  top: -134px;
  left: -516px;
  animation: trans 0.3s ease-in;
  transform: translateX(0px);
  transform: translateZ(0px);
}
#popup2 {
  position: relative;
  top: -187px;
  left: -516px;
  animation: trans 0.5s ease-in-out;
  transform: translateX(0px);
  transform: translateZ(0px);
}
#popup3 {
  position: relative;
  top: -731px;
  left: -516px;
  animation: trans 0.5s ease-in-out;
  transform: translateX(0px);
  transform: translateZ(0px);
}
#popup4 {
  position: relative;
  top: -1276px;
  left: -516px;
  animation: trans 0.5s ease-in-out;
  transform: translateX(0px);
  transform: translateZ(0px);
}

#popup5 {
  position: relative;
  top: -1821px;
  left: -516px;
  animation: trans 0.5s ease-in-out;
  transform: translateX(0px);
  transform: translateZ(0px);
}

.vacance {
  position: relative;
  top: -471px;
  left: 98px;
  display: flex;
  animation: trans 0.5s ease-in-out;
}

.formation {
  position: relative;
  top: -970px;
  left: -1px;
  display: flex;
}

.sensibilisation {
  position: relative;
  top: -1445px;
  left: 0px;
  display: flex;
}

.content {
  display: flex;
}

.popup7 {
  background: #fff;
  border-radius: 10px;
  transition: all 0.5s ease-in-out;
  animation: trans 0.5s ease-in-out;

  border-radius: 10px;
  position: relative;
  top: 18px;
  left: 34px;
  height: 438px;

  width: 532px;
  background: rgb(255, 255, 255);
  box-shadow: 2px 2px 6px rgba(151, 97, 106, 0.747);
  color: rgb(143, 92, 121);
  display: flex;
  justify-content: center;
}

.popup7 h2 {
  margin-left: 50px;
  padding: 30px;
  color: rgba(255, 99, 125, 0.623);
  letter-spacing: 3px;
  animation: trans 0.5s ease-in-out;
  font-size: 0.9rem;
}

.popup8 {
  position: relative;
  top: 18px;
  left: 34px;
  height: 438px;

  border-radius: 10px;
  position: relative;
  top: 18px;
  left: 34px;
  height: 438px;
  animation: trans 0.5s ease-in-out;
  width: 532px;
  background: rgb(255, 255, 255);
  box-shadow: 2px 2px 6px rgba(151, 97, 106, 0.747);
  color: rgb(143, 92, 121);
  display: flex;
  justify-content: center;
}

.popup8 h2 {
  margin-left: 50px;
  padding: 30px;
  color: rgba(255, 99, 125, 0.623);
  letter-spacing: 3px;
  animation: trans 0.5s ease-in-out;
  font-size: 0.9rem;
}

.popup9 {
  position: relative;
  top: 18px;
  left: 34px;
  height: 438px;

  border-radius: 10px;
  position: relative;
  top: 18px;
  left: 34px;
  height: 438px;
  animation: trans 0.5s ease-in-out;
  width: 532px;
  background: rgb(255, 255, 255);
  box-shadow: 2px 2px 6px rgba(151, 97, 106, 0.747);
  color: rgb(143, 92, 121);
  display: flex;
  justify-content: center;
}

.popup9 h2 {
  margin-left: 50px;
  padding: 30px;
  color: rgba(255, 99, 125, 0.623);
  letter-spacing: 3px;
  animation: trans 0.5s ease-in-out;
  font-size: 0.9rem;
}

.popup10 {
  position: relative;
  top: 18px;
  left: 34px;
  height: 438px;
  animation: trans 0.5s ease-in-out;

  border-radius: 10px;
  position: relative;
  top: 18px;
  left: 34px;
  height: 438px;

  width: 532px;
  background: rgb(255, 255, 255);
  box-shadow: 2px 2px 6px rgba(151, 97, 106, 0.747);
  color: rgb(143, 92, 121);
  display: flex;
  justify-content: center;
}

.popup10 h2 {
  margin-left: 50px;
  padding: 30px;
  color: rgba(255, 99, 125, 0.623);
  letter-spacing: 3px;
  animation: trans 0.5s ease-in-out;
  font-size: 0.9rem;
}

.off {
  display: block;
  background: blue;
  width: 1618px;
  height: 1086px;
  position: relative;
  top: -492px;
  left: -283px;
  opacity: 0;
  z-index: -1;
}

#curseur {
  position: relative;
  top: -1200px;
  left: 67px;
  transform: translateX(0px);
  transform: translateY(-500px);
  height: 5px;
  width: 5px;
  background: rgba(255, 99, 125, 0.541);
  border-radius: 342px;
  opacity: 1;
}

#curseur1 {
  position: relative;
  top: -1205px;
  left: 222px;
  transform: translateX(0px);
  transform: translateY(-500px);
  height: 5px;
  width: 5px;
  background: rgba(255, 99, 125, 0.541);
  border-radius: 342px;
  opacity: 0;
}

#curseur2 {
  position: relative;
  top: -1209px;
  left: 395px;
  transform: translateX(0px);
  transform: translateY(-500px);
  height: 5px;
  width: 5px;
  background: rgba(255, 99, 125, 0.541);
  border-radius: 342px;
  opacity: 0;
}

#curseur3 {
  position: relative;
  top: -1214px;
  left: 568px;
  transform: translateX(0px);
  transform: translateY(-500px);
  height: 5px;
  width: 5px;
  background: rgba(255, 99, 125, 0.541);
  border-radius: 342px;
  opacity: 0;
}

#curseur4 {
  position: relative;
  top: -1220px;
  left: 734px;
  transform: translateX(0px);
  transform: translateY(-500px);
  height: 5px;
  width: 5px;
  background: rgba(255, 99, 125, 0.541);
  border-radius: 342px;
  opacity: 0;
}

#curseur5 {
  position: relative;
  top: -1225px;
  left: 884px;
  transform: translateX(0px);
  transform: translateY(-500px);
  height: 5px;
  width: 5px;
  background: rgba(255, 99, 125, 0.541);
  border-radius: 342px;
  opacity: 0;
}

.stroke {
  -webkit-text-stroke: 0.5px rgb(143, 92, 121);
}
