h1 {

    text-align: center;
    margin-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
    animation: apparition 0.8s ease-out;
}


@keyframes apparition { 

    from {
        opacity: 0;
        transform: translateY(-100px);
    }

    to {

        opacity: 1;
        transform: translateY(0px);
    }
}